In [1]:
import pandas as pd

In [2]:
file_path = "/Users/ananyasai/Downloads/acc_players-2324F.csv"

In [9]:
df = pd.read_csv(file_path, header=1)

In [10]:
df.head()

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
0,1,Amaree Abram,SO,G,Georgia Tech,10,108,17,11,1,...,9,10,34,0.262,0.318,0.200,0.615,4.1,-0.1,-6.4
1,2,Sola Adebisi,FR,F,Florida State,7,9,1,1,0,...,1,1,2,0.500,0.500,NaN,NaN,3.5,0.0,-6.7
2,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.620,9.4,0.9,-1.3
3,4,Abe Atiyeh,SR,G,Boston College,4,6,0,0,0,...,1,0,3,0.333,0.000,1.000,NaN,1.1,0.0,-8.2
4,5,Zack Austin,JR,F,Pittsburgh,33,746,137,29,32,...,13,35,216,0.417,0.563,0.295,0.737,18.0,2.9,7.9

In [11]:
df.columns.tolist()

['Rk',
 'Player',
 'Class',
 'Pos',
 'School',
 'G',
 'MP',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'FG%',
 '2P%',
 '3P%',
 'FT%',
 'PER',
 'WS',
 'BPM']

In [13]:
##total points scored by all players combined
total_points = df['PTS'].sum()
print(total_points)

38411

In [27]:
most_minutes_player = df.loc[df['MP'].idxmax(), 'Player']
print(most_minutes_player)

Casey Morsell

In [21]:
top_five_players = df[['Player','TRB']].sort_values(by='TRB', ascending=False).head(5)
print(top_five_players )

              Player  TRB
5      Armando Bacot  380
178  Ian Schieffelin  340
90   Harrison Ingram  327
44    Mohamed Diarra  311
149    Norchad Omier  309

In [23]:
new_df = df[df['MP'] > 500]
new_df.head()

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
2,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.620,9.4,0.9,-1.3
4,5,Zack Austin,JR,F,Pittsburgh,33,746,137,29,32,...,13,35,216,0.417,0.563,0.295,0.737,18.0,2.9,7.9
5,6,Armando Bacot,SR,F,North Carolina,37,1123,380,56,22,...,60,100,538,0.540,0.544,0.400,0.781,24.6,6.1,8.9
7,8,Reece Beekman,SR,G,Virginia,34,1114,124,212,68,...,70,43,486,0.443,0.487,0.310,0.754,23.4,4.9,10.5
9,10,Chris Bell,SO,F,Syracuse,32,865,75,21,18,...,26,58,384,0.434,0.459,0.420,0.842,14.9,2.2,3.3

In [26]:
top_ast = new_df.loc[new_df['AST'].idxmax(), 'Player']
print(top_ast)

Reece Beekman

In [28]:
top_3_ast = new_df[['Player','AST']].sort_values(by='AST', ascending=False).head(3)
print(top_3_ast )

             Player  AST
7     Reece Beekman  212
215  Jaeden Zackery  152
21    Elliot Cadeau  150

In [29]:
top_3_blk = new_df[['Player','BLK']].sort_values(by='BLK', ascending=False).head(3)
print(top_3_blk)

            Player  BLK
51       Ryan Dunn   77
157   Quinten Post   61
5    Armando Bacot   56

In [30]:
points_by_school = df.groupby('School')['PTS'].sum().reset_index()
print(points_by_school)

            School   PTS
0   Boston College  2667
1          Clemson  2785
2             Duke  2830
3    Florida State  2526
4     Georgia Tech  2272
5       Louisville  2304
6       Miami (FL)  2424
7         NC State  3101
8   North Carolina  3032
9       Notre Dame  2113
10      Pittsburgh  2495
11        Syracuse  2442
12        Virginia  2140
13   Virginia Tech  2547
14     Wake Forest  2733

In [31]:
ast_by_school = df.groupby('School')['AST'].sum().reset_index()
print(ast_by_school)

            School  AST
0   Boston College  509
1          Clemson  533
2             Duke  551
3    Florida State  406
4     Georgia Tech  425
5       Louisville  356
6       Miami (FL)  454
7         NC State  536
8   North Carolina  536
9       Notre Dame  335
10      Pittsburgh  452
11        Syracuse  442
12        Virginia  509
13   Virginia Tech  514
14     Wake Forest  429

In [33]:
top_3_schools = points_by_school.sort_values(by='PTS', ascending=False).head(3)
print(top_3_schools)

           School   PTS
7        NC State  3101
8  North Carolina  3032
2            Duke  2830

#What did you learn about working with CSV files and pandas DataFrames in this assignment?

I already came in with some experience with working in CSV files and pandas DataFrames as I took the Foundations of Machine Learning class last Fall. That class was project based and we had a lot of hands-on learning in how to read in CSV files and how to utilize the pandas package. However, doing this assignment was a nice refresher on the said topics. Its been a year, and I took more classes that worked in R, so jumping back to learning how to subset indices a little differently in Python or leveraging unique packages like idxmax to help find the maximum value was very rewarding. Working with CSV files, a common format that data can be found in, and learning how to load them in is a very necessary skillset. Its not hard once you pick it up, but knowing how to utilize appropriate packages like pandas and specific methods like sort_values to aid in your data cleaning or EDA can help uncover useful findings about the data. Especially, knowing how to leverage functions like groupby, that can help you specifically look at data that you are interested in, can help you look at the smaller details that can be easily missed in large data files. Overall, this assignment exposed the practical importance of the data techniques and how they can be important in the real world.

#What was the most challenging aspect of this assignment, and how did you overcome it?

I think the most challenging aspect of this assignment was fixing the column names for the dataframe. When I loaded in the data into VS Code, all of the column names on the top came in as unnamed. At first, that really shook me off guard and I thought that I did something wrong. I went back to our class materials, and I reaffirmed that I did load in the csv files in the right format. Then, I did df.head(), and I realized that the column names were placed in the first row, but it was just not being recognized when I loaded it in. I looked more into the pd.read_csv() function and looked at what other arguements it accepts for me to realize that I can use header = 1 to have the actual columns names be recognized as the column names. After that obstacle, I was able to more confidently move through the rest of the assignment.

#How do you think the insights gained from analyzing ACC basketball statistics could be applied to other real-world datasets?

Many other real-world datasets can immediately benefit from the insights obtained by examining ACC basketball statistics, such as the use of tools like sort_values() for ranking and groupby() for segmentation. Similar methods, for instance, can be used by businesses to assess total sales across all of their branches and/or group consumer data based on demographics. Or, for example, such skillsets can be utilized by those working in the healthcare sector to examine critical health parameters and group patient data based on certain conditions such as blood type. These data manipulation techniques are extensively relevant across many industries (e.g., marketing, healthcare) and enable patterns, outliers, and performance metrics to be picked up and then appropriately be able to filter, sort, and aggregate such data.